/* section {
  margin: 100px 0px 100px 0px;
} */

.hero {
  box-sizing: border-box;
  padding: 4.325rem 0 8rem 0;
  background: url(../../images/bg_purple.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

.hero h1 {
  color: white;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

.hero h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #B1B7DD;
  font-weight: 500;
  width: 100%;
  max-width: 600px;
}

.hero_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3.25rem 0 0 0;
}

.hero_buttons .ant-btn-lg {
    background-color: #4F56B5;
    border: none;
    width: 290px;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1.75rem 0;
    height: auto;
    color: #D4D7EC;
    -webkit-box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 13px 26px 0px rgba(0,0,0,0.16);
    margin: 0 0.625rem;
    border-radius: 10px;
  }


.What {
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  padding: 0 0 8rem 0;
  background: url(../../images/bg_purple_half.png) repeat-x white;
}

.What__totalbox {
  width: 84vw;
  margin: 0 8vw;
  box-sizing: border-box;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../images/bg_grey.png);
  border-radius: 20px;
}

.What__cards {
  box-sizing: border-box;
  padding: 3rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.What__card {
  min-width: 120px;
  max-width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 0 1.75rem;
}

.What__card h3 {
  font-size: 1.25rem;
  color: #4F56B5;
  font-weight: bold;
}

.What__card p {
  font-size: 1rem;
}

.What__card img {
  width: 125px;
}

.What__extra {
  width: 100%;
  box-sizing: border-box;
  padding: 0 8rem 6rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.What__extra h2 {
  font-size: 2.25rem;
  line-height: 3rem;
  font-weight: normal;
}
.What__extra_box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1.75rem 0 0 0;
}
.What__extra_box p {
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-weight: normal;
  max-width: 529px;
}
.What__extra_box_img {
  flex: 1;
}
.What__extra_box_img img {
  margin: 0.5rem 0 0 0;
  height: 5px;
  width: 250px;
}
.How__step {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Tokens__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
